node_modules/**/*
.expo/*
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

# macOS
.DS_Store
app.json
config
/app.json
./app.json
./config
/config
/config/firebaseConfig.js
./config/firbeaseConfig.js
config/firebaseConfig
config/firebaseConfig.js
firebaseConfig.js
firebaseConfig
firebase
/src/config/firebaseConfig
/src/config/firebaseConfig.js
./src/config/firebseConfig.js
/src/config/firebase
./src/config/firebase
/src/config/firebase.js
./src/config/firebase.js
firebase
firebase.js
environment.js
./environment.js
.env
config/firebaseConfig.js
