node_modules/**/*
.expo/*
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

# macOS
GoogleService-Info.plist

.DS_Store
app.json
config
/app.json
./app.json
./config
/config
/config/firebaseConfig.js
./config/firbeaseConfig.js
config/firebaseConfig
config/firebaseConfig.js
firebaseConfig.js
firebaseConfig
firebase
config/firebaseConfig
config/firebaseConfig.js
config/firebseConfig.js
config/firebase
config/firebase.js
config/firebase.js
firebase
firebase.js
environment.js
./environment.js
.env
config/firebaseConfig.js
